<?xml version="1.0"?>
<!--
/**
 * @author Kostas Tsiapalis
 * @copyright Netsteps S.A
 * @package Netsteps_Seller
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Validate order shipment action for seller -->
    <event name="marketplace_sales_order_ship_before">
        <observer name="validate_shipment_for_seller"
                  instance="Netsteps\MarketplaceSales\Observer\Marketplace\Order\Shipment\ValidateBefore" />
    </event>
</config>
