<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author Vasilis Neris
 * @copyright Copyright (c) 2022 Netsteps S.A
 * @package Netsteps_Seller
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Netsteps_Seller::api" title="Netsteps Seller Api" sortOrder="10"/>
                <resource id="Netsteps_Seller::resource" title="Netsteps Seller" sortOrder="100">
                    <resource id="Netsteps_Seller::listing" title="Netsteps Seller Listing" sortOrder="10"/>
                    <resource id="Netsteps_Seller::edit" title="Netsteps Seller Edit" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>



