<?xml version="1.0"?>
<!--
/**
 * @author Vasilis Neris
 * @copyright Copyright (c) 2022 Netsteps S.A
 * @package Netsteps_Package
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="ns_seller_delete_after">
        <observer name="Netsteps_Seller::cleanProductData" instance="Netsteps\Seller\Observer\AfterDeleteSeller" />
    </event>
</config>
