<?xml version="1.0"?>
<!--
/**
 * @author Kostas Tsiapalis
 * @copyright Netsteps S.A
 * @package Netsteps_Marketplace
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Netsteps\Marketplace\Api\Data\FeedInterface" type="Netsteps\Marketplace\Model\Feed" />
    <preference for="Netsteps\Marketplace\Api\Data\FeedMetadataInterface" type="Netsteps\Marketplace\Model\Feed\Metadata" />
    <preference for="Netsteps\Marketplace\Api\FeedRepositoryInterface" type="Netsteps\Marketplace\Model\FeedRepository" />
    <preference for="Netsteps\Marketplace\Model\File\ProcessorPoolInterface" type="Netsteps\Marketplace\Model\File\ProcessorPool" />
    <preference for="Netsteps\Marketplace\Model\Feed\ItemInterface" type="Netsteps\Marketplace\Model\Feed\Item" />
    <preference for="Netsteps\Marketplace\Model\Feed\ActionPoolInterface" type="Netsteps\Marketplace\Model\Feed\ActionPool" />
    <preference for="Netsteps\Marketplace\Model\Feed\CompositeActionProcessorInterface" type="Netsteps\Marketplace\Model\Feed\CompositeActionProcessor" />
    <preference for="Netsteps\Marketplace\Model\Product\ItemProcessorPoolInterface" type="Netsteps\Marketplace\Model\Product\ItemProcessorPool"/>
    <preference for="Netsteps\Marketplace\Api\Data\ProductHistoryInterface" type="Netsteps\Marketplace\Model\Product\History" />
    <preference for="Netsteps\Marketplace\Api\ProductHistoryRepositoryInterface" type="Netsteps\Marketplace\Model\Product\HistoryRepository" />
    <preference for="Netsteps\Marketplace\Model\Data\ExporterInterface" type="Netsteps\Marketplace\Model\Data\AbstractExporter" />
    <preference for="Netsteps\Marketplace\Model\Product\AttributeManagementInterface" type="Netsteps\Marketplace\Model\Product\AttributeManagement" />
    <preference for="Netsteps\Marketplace\Api\StockManagementInterface" type="Netsteps\Marketplace\Model\Product\Stock\Management" />
    <preference for="Netsteps\Marketplace\Model\Logger\LoggerPoolInterface" type="Netsteps\Marketplace\Model\Logger\LoggerPool" />
    <preference for="Netsteps\Marketplace\Model\Product\Item\ManagementInterface" type="Netsteps\Marketplace\Model\Product\Item\Management" />
    <preference for="Netsteps\Marketplace\Model\Processor\ResultInterface" type="Netsteps\Marketplace\Model\Processor\Result" />
    <preference for="Netsteps\Marketplace\Model\Processor\Product\MerchantProcessorInterface" type="Netsteps\Marketplace\Model\Processor\Product\MerchantProcessor" />
    <preference for="Netsteps\Marketplace\Api\Data\MerchantDataInterface" type="Netsteps\Marketplace\Model\Data\MerchantItemData" />
    <preference for="Netsteps\Marketplace\Model\Feed\Seller\CollectorInterface" type="Netsteps\Marketplace\Model\Feed\Seller\Collector" />
    <preference for="Netsteps\Marketplace\Api\ProductIndexRepositoryInterface" type="Netsteps\Marketplace\Model\ProductIndexRepository" />
    <preference for="Netsteps\Marketplace\Model\System\Config\FeedConfigurationInterface" type="Netsteps\Marketplace\Model\System\Config\FeedConfiguration" />
    <preference for="Netsteps\Marketplace\Model\Feed\Normalize\NormalizerInterface" type="Netsteps\Marketplace\Model\Feed\Normalize\Normalizer" />
    <preference for="Netsteps\Marketplace\Api\AttributesMappingRepositoryInterface" type="Netsteps\Marketplace\Model\AttributesMappingRepository" />
    <preference for="Netsteps\Marketplace\Model\Product\Data\RepositoryInterface" type="Netsteps\Marketplace\Model\Product\Data\Repository" />
    <preference for="Netsteps\Marketplace\Model\Feed\Action\SubActionManagerInterface"
                type="Netsteps\Marketplace\Model\Feed\Action\SubActionManager" />
    <preference for="Netsteps\Marketplace\Model\Product\Attribute\ChildNotVisibleInFrontInterface"
                type="Netsteps\Marketplace\Model\Product\Attribute\ChildNotVisibleInFront" />

    <!-- Assign sub actions -->
    <type name="Netsteps\Marketplace\Model\Feed\Action\SubActionManager">
        <arguments>
            <argument name="actions" xsi:type="array">
                <item name="stock" xsi:type="object">Netsteps\Marketplace\Model\Feed\Action\SubAction\Stock</item>
                <item name="status" xsi:type="object">Netsteps\Marketplace\Model\Feed\Action\SubAction\Status</item>
                <item name="reindex_vsf_bridge" xsi:type="object">Netsteps\Marketplace\Model\Feed\Action\SubAction\ReindexVsfBridge</item>
            </argument>
        </arguments>
    </type>

    <!-- Set adapters to feed normalizer -->
    <type name="Netsteps\Marketplace\Model\Feed\Normalize\Normalizer">
        <arguments>
            <argument name="adapters" xsi:type="array">
                <item name="description" xsi:type="object">Netsteps\Marketplace\Model\Feed\Normalize\Adapter\Description</item>
            </argument>
        </arguments>
    </type>

    <!-- Set up groupPath for feed configuration model -->
    <type name="Netsteps\Marketplace\Model\System\Config\FeedConfiguration">
        <arguments>
            <argument name="groupPath" xsi:type="string">marketplace/feed</argument>
        </arguments>
    </type>

    <!-- Setup logger type generic -->
    <virtualType name="Netsteps\Marketplace\Model\Handler" type="Netsteps\Logger\Model\Handler">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/netsteps/marketplace</argument>
        </arguments>
    </virtualType>

    <virtualType name="Netsteps\Marketplace\Model\Logger" type="Netsteps\Logger\Model\Logger">
        <arguments>
            <argument name="name" xsi:type="string">NetstepsMarketplace</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Netsteps\Marketplace\Model\Handler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Setup logger type for debug -->
    <virtualType name="Netsteps\Marketplace\Model\Handler\Debug" type="Netsteps\Logger\Model\Handler">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/netsteps/marketplace_debug</argument>
        </arguments>
    </virtualType>

    <virtualType name="Netsteps\Marketplace\Model\Logger\Debug" type="Netsteps\Logger\Model\Logger">
        <arguments>
            <argument name="name" xsi:type="string">NetstepsMarketplaceDebug</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Netsteps\Marketplace\Model\Handler\Debug</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Assign loggers in logger pool -->
    <type name="Netsteps\Marketplace\Model\Logger\LoggerPool">
        <arguments>
            <argument name="loggers" xsi:type="array">
                <item name="base" xsi:type="object">Netsteps\Marketplace\Model\Logger</item>
                <item name="debug" xsi:type="object">Netsteps\Marketplace\Model\Logger\Debug</item>
            </argument>
        </arguments>
    </type>

    <!-- Assign processors to file processor pool class -->
    <type name="Netsteps\Marketplace\Model\File\ProcessorPool">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="xml" xsi:type="object">Netsteps\Marketplace\Model\File\Processor\Xml</item>
                <item name="csv" xsi:type="object">Netsteps\Marketplace\Model\File\Processor\Csv</item>
            </argument>
        </arguments>
    </type>

    <!-- Assign feed actions -->
    <type name="Netsteps\Marketplace\Model\Feed\ActionPool">
        <arguments>
            <argument name="actions" xsi:type="array">
                <item name="merchant" xsi:type="object">Netsteps\Marketplace\Model\Feed\Action\Merchant</item>
                <item name="master" xsi:type="object">Netsteps\Marketplace\Model\Feed\Action\Master</item>
            </argument>
        </arguments>
    </type>

    <!-- XML validator for merchant action -->
    <virtualType name="Netsteps\Marketplace\Model\Feed\Validation\Xml\Merchant"
                 type="Netsteps\Marketplace\Model\Feed\Validation\Xml\AbstractXmlValidator">
        <arguments>
            <argument name="schemaFile" xsi:type="string">merchant.xsd</argument>
        </arguments>
    </virtualType>

    <!-- XML validator for master action -->
    <virtualType name="Netsteps\Marketplace\Model\Feed\Validation\Xml\Master"
                 type="Netsteps\Marketplace\Model\Feed\Validation\Xml\AbstractXmlValidator">
        <arguments>
            <argument name="schemaFile" xsi:type="string">master.xsd</argument>
            <argument name="errorHandler" xsi:type="object">Netsteps\Marketplace\Model\Feed\Validation\Xml\Error\Handler\Master</argument>
        </arguments>
    </virtualType>

    <!-- Assign validators to merchant action -->
    <type name="Netsteps\Marketplace\Model\Feed\Action\Merchant">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="xml" xsi:type="object">Netsteps\Marketplace\Model\Feed\Validation\Xml\Merchant</item>
                <item name="csv" xsi:type="object">Netsteps\Marketplace\Model\Feed\Validation\Csv\Merchant</item>
            </argument>
        </arguments>
    </type>

    <!-- Assign validators to master action and set processor pool for master action -->
    <type name="Netsteps\Marketplace\Model\Feed\Action\Master">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="xml" xsi:type="object">Netsteps\Marketplace\Model\Feed\Validation\Xml\Master</item>
            </argument>
            <argument name="processorPool" xsi:type="object">Netsteps\Marketplace\Model\Product\MasterItemProcessorPool</argument>
        </arguments>
    </type>

    <!-- Create virtual validator for merchant action csv file -->
    <virtualType name="Netsteps\Marketplace\Model\Feed\Validation\Csv\Merchant"
                 type="Netsteps\Marketplace\Model\Feed\Validation\Csv\AbstractCsvValidator">
        <arguments>
            <argument name="validationRules" xsi:type="array">
                <item name="sku" xsi:type="string">required</item>
                <item name="price" xsi:type="string">required|positiveNumber</item>
                <item name="special_price" xsi:type="string">positiveNumber</item>
                <item name="stock" xsi:type="string">required|min:0</item>
                <item name="is_in_stock" xsi:type="string">required|allowed:Y,N</item>
                <item name="estimated_delivery" xsi:type="string">required|positiveNumber</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Assign default item process to abstract action -->
    <type name="Netsteps\Marketplace\Model\Feed\Action\AbstractAction">
        <arguments>
            <argument name="defaultProcessor" xsi:type="object">Netsteps\Marketplace\Model\Product\Item\Processor\Simple</argument>
        </arguments>
    </type>

    <!-- Create virtual product exporter -->
    <virtualType name="Netsteps\Marketplace\Model\Data\Exporter\Product"
                 type="Netsteps\Marketplace\Model\Data\AbstractExporter">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="name" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::NAME</item>
                <item name="description" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::DESCRIPTION</item>
                <item name="sku" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::SKU</item>
                <item name="mpn" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::MPN</item>
                <item name="ean" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::EAN</item>
                <item name="categories" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::CATEGORIES</item>
                <item name="image" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::IMAGE</item>
                <item name="brand" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::BRAND</item>
                <item name="season" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::SEASON</item>
                <item name="retail_price" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::RETAIL_PRICE</item>
                <item name="price" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::PRICE</item>
                <item name="special_price" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::SPECIAL_PRICE</item>
                <item name="color" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::COLOR</item>
                <item name="is_in_stock" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::IS_IN_STOCK</item>
                <item name="estimated_delivery" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::ESTIMATED_DELIVERY</item>
                <item name="weight" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::WEIGHT</item>
                <item name="size_info" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::SIZE_INFO</item>
                <item name="composition_info" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::COMPOSITION_INFO</item>
                <item name="distributor_id" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::DISTRIBUTOR_ID</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Create virtual product exporter -->
    <virtualType name="Netsteps\Marketplace\Model\Data\Exporter\Product\Update"
                 type="Netsteps\Marketplace\Model\Data\AbstractExporter">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="name" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::NAME</item>
                <item name="description" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::DESCRIPTION</item>
                <item name="mpn" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::MPN</item>
                <item name="ean" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::EAN</item>
                <item name="categories" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::CATEGORIES</item>
                <item name="brand" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::BRAND</item>
                <item name="season" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::SEASON</item>
                <item name="color" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::COLOR</item>
                <item name="retail_price" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::RETAIL_PRICE</item>
                <item name="price" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::PRICE</item>
                <item name="special_price" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::SPECIAL_PRICE</item>
                <item name="estimated_delivery" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::ESTIMATED_DELIVERY</item>
                <item name="weight" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::WEIGHT</item>
                <item name="size_info" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::SIZE_INFO</item>
                <item name="composition_info" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::COMPOSITION_INFO</item>
                <item name="distributor_id" xsi:type="const">Netsteps\Marketplace\Model\Feed\ItemInterface::DISTRIBUTOR_ID</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Assign product data exporter to abstract product/item processor -->
    <type name="Netsteps\Marketplace\Model\Product\Item\Processor\AbstractProcessor">
        <arguments>
            <argument name="dataExporter" xsi:type="object">Netsteps\Marketplace\Model\Data\Exporter\Product</argument>
            <argument name="optionAttributes" xsi:type="array">
                <item name="brand" xsi:type="string">brand</item>
                <item name="season" xsi:type="string">season</item>
                <item name="color" xsi:type="string">color</item>
                <item name="size" xsi:type="string">size</item>
            </argument>
        </arguments>
    </type>

    <!-- Setup data exporter for update products data -->
    <type name="Netsteps\Marketplace\Model\Product\Item\Management">
        <arguments>
            <argument name="dataExporter" xsi:type="object">Netsteps\Marketplace\Model\Data\Exporter\Product\Update</argument>
        </arguments>
    </type>

    <!-- Master action item processor pool -->
    <virtualType name="Netsteps\Marketplace\Model\Product\MasterItemProcessorPool"
                 type="Netsteps\Marketplace\Model\Product\ItemProcessorPool">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="configurable" xsi:type="object">Netsteps\Marketplace\Model\Product\Item\Processor\Configurable</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Pass initStatements to pdo through plugin to increase max_allowed_packet -->
    <type name="Magento\Framework\DB\Adapter\Pdo\Mysql">
        <arguments>
            <argument name="config" xsi:type="array">
                <item name="initStatements" xsi:type="string"><![CDATA[SET NAMES utf8;SET GLOBAL max_allowed_packet=500000000;]]></item>
            </argument>
        </arguments>
    </type>

    <!-- Create virtual class for processing master feeds -->
    <virtualType name="Netsteps\Marketplace\Cron\Feed\Processor\Master"
                 type="Netsteps\Marketplace\Model\Feed\BaseProcessor">
        <arguments>
            <argument name="filters" xsi:type="array">
                <item name="0" xsi:type="array">
                    <item name="field" xsi:type="const">Netsteps\Marketplace\Api\Data\FeedInterface::FEED_TYPE</item>
                    <item name="value" xsi:type="const">Netsteps\Seller\Model\Config\FeedTypeOptionsSource::TYPE_MASTER</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Create virtual class for processing merchant feeds -->
    <virtualType name="Netsteps\Marketplace\Cron\Feed\Processor\Merchant"
                 type="Netsteps\Marketplace\Model\Feed\BaseProcessor">
        <arguments>
            <argument name="filters" xsi:type="array">
                <item name="0" xsi:type="array">
                    <item name="field" xsi:type="const">Netsteps\Marketplace\Api\Data\FeedInterface::FEED_TYPE</item>
                    <item name="value" xsi:type="const">Netsteps\Seller\Model\Config\FeedTypeOptionsSource::TYPE_MERCHANT</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Index distributor data in seller_product_index table -->
    <type name="Magento\Catalog\Model\ResourceModel\Product">
        <plugin name="Netsteps_Marketplace::index_distributor_data"
                type="Netsteps\Marketplace\Plugin\Product\SaveDistributorDataToIndex" />
    </type>

    <!-- Normalize feed data before save -->
    <type name="Netsteps\Marketplace\Model\ResourceModel\Feed">
        <plugin name="Netsteps_Marketplace::normalize_feed_data"
                type="Netsteps\Marketplace\Plugin\Feed\NormalizeBeforeSave" />
    </type>

    <!-- Set necessary types for UI Component's dataSource -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="feed_listing_data_source" xsi:type="string">Netsteps\Marketplace\Model\ResourceModel\Feed\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <!-- End set UI Component's dataSource -->

    <!-- Assign items after process an item to sub action for status check -->
    <type name="Netsteps\Marketplace\Model\Product\ItemProcessorInterface">
        <plugin name="Netsteps_Marketplace::assign_items_for_status_check"
                type="Netsteps\Marketplace\Plugin\Feed\Item\Processor\AssignToStatusCheck" />
    </type>

    <type name="Netsteps\Marketplace\Observer\ReindexIfProductUpdated">
        <arguments>
            <argument name="attributesThatRequireReindex" xsi:type="array">
                <item name="0" xsi:type="string">is_visible_in_front</item>
                <item name="1" xsi:type="string">is_in_stock</item>
                <item name="2" xsi:type="string">lowest_seller_id</item>
                <item name="3" xsi:type="string">price</item>
                <item name="4" xsi:type="string">special_price</item>
                <item name="5" xsi:type="string">retail_price</item>
                <item name="6" xsi:type="string">bestseller_count</item>
                <item name="7" xsi:type="string">seller_discount</item>
                <item name="8" xsi:type="string">estimated_delivery</item>
            </argument>
        </arguments>
    </type>

    <type name="Netsteps\Marketplace\Model\Product\Attribute\ChildNotVisibleInFront">
        <arguments>
            <argument name="attributesToUnset" xsi:type="array">
                <item name="0" xsi:type="string">lowest_seller_id</item>
                <item name="1" xsi:type="string">bestseller_count</item>
                <item name="2" xsi:type="string">seller_discount</item>
            </argument>
            <argument name="thresholdToUseQuery" xsi:type="number">500</argument>
        </arguments>
    </type>
</config>
