<?xml version="1.0"?>
<!--
/**
 * @author Kostas Tsiapalis
 * @copyright Netsteps S.A
 * @package Netsteps_Reindex
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Netsteps\Reindex\Api\Data\IndexerDataInterface" type="Netsteps\Reindex\Model\Indexer\Data"/>
    <preference for="Netsteps\Reindex\Api\IndexerManagementInterface" type="Netsteps\Reindex\Model\IndexerManagement"/>
</config>
