<?xml version="1.0"?>
<!--
/**
 * @author Kostas Tsiapalis
 * @copyright Netsteps S.A
 * @package Netsteps_MarketplaceSales
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!--
        Update seller data after product save controller execution
        It was implemented with a plugin method after product's save method but moved to observe approach
        cause of 'process_source_item_configurations' observer of the Magento_InventoryLowQuantityNotificationAdminUi
    -->
    <event name="controller_action_catalog_product_save_entity_after">
        <observer name="update_seller_data_after_product_save"
                  instance="Netsteps\MarketplaceSales\Observer\Adminhtml\Controller\Product\Save\UpdateSellerData" />
    </event>
</config>
