<?xml version="1.0"?>
<!--
/**
 * @author Kostas Tsiapalis
 * @copyright Netsteps S.A
 * @package Netsteps_MarketplaceSales
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <!-- id and frontName most of the cases are the same -->
        <route id="marketplace_sales" frontName="marketplace_sales">
            <module name="Netsteps_MarketplaceSales"/>
        </route>
    </router>
</config>
