<?xml version="1.0"?>
<!--
/**
 * @author Kostas Tsiapalis
 * @copyright Netsteps S.A
 * @package Netsteps_Marketplace
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="marketplace">
            <group id="sales" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Sales Configuration</label>
                <field id="disable_source_selection" translate="label comment" type="select"
                       sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Disable Source Selection</label>
                    <comment>Disable source selection screen in admin shipment process if website has multi sources
                    </comment>
                    <validate>required-entry</validate>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="disable_stock_deduction_order_types" translate="label comment" type="multiselect"
                       sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Disable Stock Deduction Order Types</label>
                    <comment>
                        <![CDATA[
                            Disable deduction to specific order types after order placement.
                            Master is the order that is placed from customer and Split is the order produced for
                            the seller. Leave empty to deduct stock in every order type.
                        ]]>
                    </comment>
                    <source_model>Netsteps\MarketplaceSales\Model\System\Config\Source\OrderType</source_model>
                </field>
                <field id="disable_stock_revert_order_types" translate="label comment" type="multiselect"
                       sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Disable Stock Revert Order Types</label>
                    <comment>
                        <![CDATA[
                            Disable stock revert to specific order types after order cancellation/refund.
                            Master is the order that is placed from customer and Split is the order produced for
                            the seller. Leave empty to deduct stock in every order type.
                        ]]>
                    </comment>
                    <source_model>Netsteps\MarketplaceSales\Model\System\Config\Source\OrderType</source_model>
                </field>
            </group>
            <group id="emails" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Transactional Emails</label>
                <group id="approve" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Approve Order</label>
                    <field id="enable" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enabled</label>
                        <validate>required-entry</validate>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="sender" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sender</label>
                        <validate>required-entry</validate>
                        <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                        <depends>
                            <field id="*/*/*/enable">1</field>
                        </depends>
                    </field>
                    <field id="template" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Template</label>
                        <validate>required-entry</validate>
                        <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                        <depends>
                            <field id="*/*/*/enable">1</field>
                        </depends>
                    </field>
                </group>
                <group id="decline" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Decline Order</label>
                    <field id="enable" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enabled</label>
                        <validate>required-entry</validate>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="sender" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sender</label>
                        <validate>required-entry</validate>
                        <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                        <depends>
                            <field id="*/*/*/enable">1</field>
                        </depends>
                    </field>
                    <field id="template" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Template</label>
                        <validate>required-entry</validate>
                        <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                        <depends>
                            <field id="*/*/*/enable">1</field>
                        </depends>
                    </field>
                </group>
                <group id="pending_approval" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pending Approval</label>
                    <field id="enable" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enabled</label>
                        <validate>required-entry</validate>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="sender" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sender</label>
                        <validate>required-entry</validate>
                        <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                        <depends>
                            <field id="*/*/*/enable">1</field>
                        </depends>
                    </field>
                    <field id="template" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Template</label>
                        <validate>required-entry</validate>
                        <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                        <depends>
                            <field id="*/*/*/enable">1</field>
                        </depends>
                    </field>
                    <field id="allowed_sellers" translate="label comment" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Allowed Sellers</label>
                        <validate>required-entry</validate>
                        <source_model>Netsteps\Marketplace\Model\System\Config\Source\SellerWithoutEmpty</source_model>
                        <depends>
                            <field id="*/*/*/enable">1</field>
                        </depends>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>

