<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="netsteps_base_fixIncludes_observer_1" instance="Netsteps\Base\Observer\IncludePathsFixObserver" shared="false" />
    </event>
    <event name="_validate_before">
        <observer name="netsteps_base_fixIncludes_observer_2" instance="Netsteps\Base\Observer\IncludePathsFixObserver" shared="false" />
    </event>
    <event name="customer_session_init">
        <observer name="netsteps_base_fixIncludes_observer_3" instance="Netsteps\Base\Observer\IncludePathsFixObserver" shared="false" />
    </event>
</config>
