<?xml version="1.0"?>
<!--
/**
 * Copyright © 2022 Kostas Tsiapalis. All rights reserved.
 * @author k.tsiapalis86@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Netsteps_Base" setup_version="1.0.0" />
</config>
