<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Netsteps\PopulateBooks\Api\CustomInterface"
                type="Netsteps\PopulateBooks\Model\Api\Custom"/>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="examplePopulateBooks" xsi:type="object">Netsteps\PopulateBooks\Console\Populate</item>
                <item name="netsteps_populatebooks_setcategorytoproducts" xsi:type="object">
                    Netsteps\PopulateBooks\Console\Command\SetCategoryToProductsCommand
                </item>
                <item name="netsteps_populatebooks_setimagetoproducts" xsi:type="object">
                    Netsteps\PopulateBooks\Console\Command\SetImageToProductsCommand
                </item>
                <item name="netsteps_populatebooks_list_products_without_category" xsi:type="object">
                    Netsteps\PopulateBooks\Console\Command\ListProductsWithoutCategoryCommand
                </item>
                <item name="netsteps_populatebooks_list_products_without_image" xsi:type="object">
                    Netsteps\PopulateBooks\Console\Command\ListProductsWithoutImageCommand
                </item>
            </argument>
        </arguments>
    </type>
</config>
