<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
  <menu>
    <add id="Netsteps_Base::netsteps"
         title="Netsteps"
         module="Netsteps_Base"
         sortOrder="30"
         resource="Netsteps_Base::config" />
  </menu>
</config>