<?xml version="1.0"?>
<!--
/**
 * @author Kostas Tsiapalis
 * @copyright Netsteps S.A
 * @package Netsteps_Marketplace
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="marketplace" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label><![CDATA[Marketplace]]></label>
            <tab>netsteps</tab>
            <resource>Netsteps_Marketplace::config</resource>
            <group id="feed" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Feeds Configuration</label>
                <field id="seller_normalized" translate="label comment" type="multiselect" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Normalized Sellers</label>
                    <comment>Select the sellers that you need to normalize data, escape html tags etc.</comment>
                    <source_model>Netsteps\Marketplace\Model\System\Config\Source\SellerWithoutEmpty</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
