<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "You have orders tha need approval from %store_name" store_name=$store.frontend_name}} @-->
<!--@vars {
"var order_data.customer_name":"Customer Name",
"var order_data.customer_email":"Customer Name",
"var order_data.increment_id":"Order Id",
"var order_data.created_at":"Order Id",
"var store.frontend_name":"Store Frontend Name",
"var store_email":"Store Email",
"var store_phone":"Store Phone",
"var store_hours":"Store Hours",
"var order":"Order",
"var seller_data.name":"Seller Name",
"var seller_data.email":"Seller Email"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <h3>{{trans "Hello %seller_name" seller_name=$seller_data.name}}</h3>
            <hr/>
            <p>{{trans "You have some orders that need an action."}}</p>
        </td>
    </tr>
    <tr>
        <td>
            <h2 style="text-decoration: underline">{{trans "Your pending approval orders."}}</h2>
        </td>
    </tr>
    <tr>
        <td>{{var pending_orders_html|raw}}</td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
